.header {
    padding: 3rem 0px 1.5rem 0px;
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
  

.header__container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    animation-name: header-appear;
    animation-duration: 2.0s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-timing-function: ease-in-out;
}
  
.header__title {
    margin: 0px;   
    line-height: 5rem;
    font-size: 3.7rem;
    font-weight: bold;
    color: #000000;
}
  
.header__list {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
  
.header__subtitle {
    margin: 0px;
    padding: 0px; 
    line-height: 3.5rem;
    font-size: 3.0rem;
    font-weight: normal;
    color: #000000;
}
  
.avatar__container {
    margin: 0;
    width: 18rem;
    max-width: 200px;
    overflow: hidden;
    position: relative;
    right: 0px;
    box-shadow: 0px 0px 10px 2px rgba(89,212,171,1);
    border-radius: 50%;

    animation-name: avatar-move;
    animation-duration: 2.0s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-timing-function: ease-in-out;
}
  
.avatar__container:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
  
.avatar__img { 
    width: 100%;
    position:absolute;
    top: -20px;
}

@keyframes avatar-move {
    0%   {transform: scale(0, 0); right:calc(100% - 19rem);}
    25%  {transform: scale(1, 1); right:calc(100% - 19rem);}

    100% {}
  }

@keyframes header-appear {
    0%   {opacity: 0;}
    35%  {opacity: 0;}

    100% {opacity: 1;}
  }

.section_name {
    align-items: stretch;
    margin: 0px 0px;
}


.section__title_place_name {
    margin: 0 auto;
    width: 100%;

    line-height: 5.0rem;
    font-size: 2.8rem;
    font-weight: 500;
    padding-bottom: 0.8rem;

    border-radius: 2.0rem;
    background-color: #e6e5e3;
    text-align: center;
  }

  @media (max-width: 350px) {
    .section__title_place_name {
      font-size: 2.6rem;
    }
  }
.education__list { 
    margin: 0px;
    padding: 3px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    list-style-position: outside;
    padding: 0 0 0 0.5rem;
  }
  
  .education__item {
    position: relative;
    box-sizing: border-box;
    margin: 1.0rem 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  
  .starpoint::after {
    position: absolute;
    left: -3.2rem;
    content: '⭐';
    line-height: 3rem;
    font-size: 1.5rem;

    animation-name: star-shine;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  .education__text_main {
    display: inline;
    margin: 0px;
    padding: 0px; 
    line-height: 3rem;
    font-size: 2.2rem;
    color: #000000;
    font-weight: bold;
  }
  
  .education__text {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 2.7rem;
    font-size: 2.2rem;
    font-weight: normal;
    color: #000000;
    font-style: normal;
  }

  /* The animation code */
@keyframes star-shine {
  from {transform: scale(1, 1);}
  to {transform: scale(1.2, 1.2);}
}


.section__title_place_services {
    text-align: center;
    margin-bottom: 0.8em;
  }
  
  .services__container {
    margin-top: 14px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .services__text {
    padding: 0px 0px 1px 0px;
    margin: 0px;   
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: normal;
    color: #000000;
    text-align: center;
  }
  
  .services__card {
    min-height: 230px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(89,212,171,0.35);

    width: calc((100% / 4) - (3 * 0.8rem / 4));
    margin-right: 0.8rem;
    margin-bottom: 10px;

    padding: 0 5px;
  }

  .services__card:nth-child(4n) {
    margin-right: 0;
  }

  @media (max-width: 700px) {
    .services__card {
      width: calc((100% / 3) - (2 * 0.8rem / 3));
      margin-right: 0.8rem;
    }

    .services__card:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (max-width: 600px) {
    .services__text {  
      line-height: 2.2rem;
      font-size: 1.6rem;
    }
  }

  @media (max-width: 500px) {
    .services__card {
      width: calc((100% / 2) - (1 * 0.8rem / 2));
      margin-right: 0.8rem;
    }

    .services__card:nth-child(3n) {
      margin-right: 0.8rem;
    }
    
    .services__card:nth-child(2n) {
      margin-right: 0;
    }

    .services__text {  
      line-height: 2.2rem;
      font-size: 1.8rem;
    }
  }
  
  .services__img {
    width: 60%;
    padding: 10px 0px 2px 0px;

    animation-name: card-accent;
    animation-duration: 4.0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  .services__card:nth-child(2) .services__img {
    animation-delay: 0.25s;
  }

  .services__card:nth-child(3) .services__img {
    animation-delay: 0.50s;
  }

  .services__card:nth-child(4) .services__img {
    animation-delay: 0.75s;
  }
  
  .services__title {
    margin: 0px;  
    line-height: 2.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  
  .services__textcontainer {
    background-color: rgba(256,256,256,0.5);
    padding: 0.5rem 0.2rem;
    border-radius: 15px;
    margin: 5px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @keyframes card-accent {
    0%   {transform: scale(1.05, 1.05);}
    5%  {transform: scale(1, 1);}
  }

  

  
  .reserve__container{
    margin: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  


  .button__container {
    width: 48%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  

  
  .section__title_place_diplomas {
    text-align: center;
    align-self: center;
    min-width: 60%;
  }
  
  
  .section__text_diploma {
    width: 75%;
    margin: 0;
    line-height: 2.5rem;
    font-size: 2.0rem;
    text-align: left;
    margin: auto 0px;
    align-self: center;
    color: black;
  }
  
  .diplomas__container{
    margin: 2.5rem 0;
  }
  
  .diplom-slider {
    position: relative;
    align-self: center;
    width: calc(100% + 4rem + 4rem);
    height: calc(10.0rem);
    background-image: url(/certificate.8d7de09c.svg);
    background-position: center;
    background-size: 10rem;
    background-position-x: 0%;
    background-repeat: repeat-x;

    animation-name: diploma;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
  }

  .diplom-slider::before {
    content: '';
    z-index: 1;
    height: 100%;
    width:100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(247,246,243,1) 0%, rgba(247,246,243,0) 20%, rgba(247,246,243,0) 50%, rgba(247,246,243,0) 80%, rgba(247,246,243,1) 100%);
  }

  .diplom__btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b982f5;
  }

  .click {
    margin-left: 0.5rem;
    line-height: 2.0rem;
    font-size: 3.0rem;
  }

  @keyframes diploma {
    0%  {background-position-x: 0;}
    50%  {background-position-x: -20rem; }
    100%  {background-position-x: -20rem; }
  }

  @keyframes text-click {
    0%  {background-position-x: 0%; opacity: 0;}
    15%  { opacity: 1;}
    65%  { opacity: 1;}
    70%  {background-position-x: 30%; opacity: 0;}
    100%  {background-position-x: 0%; opacity: 0;}
  }
.section {
    box-sizing: border-box;
    margin: 0;
    padding: 3rem 0px 0px 0px;
    width: 100%;
    background-color: #F7F6F3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    animation-name: header-appear;
    animation-duration: 2.0s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-timing-function: ease-in-out;
  }
  

  .section_services {
    align-items: stretch;
  }
  
  .section__title {
    box-sizing: border-box; 
    margin: 0px;   
    line-height: 2.2rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    border-radius: 2.0rem;
    background-color: #e6e5e3;
    padding: 1.1rem 1.5rem 1.3rem 1rem;
    margin: 0px 0px 0.5rem 0px;
  }

  .section__title_place_center {
    text-align: center;
    align-self: center;
    min-width: 67%;
  }

  @media (max-width: 600px) {
    .section__title_place_center {
      min-width: 70%;
    }
  }
  
  @media (max-width: 480px) {
    .section__title_place_center {
      min-width: 80.5%;
    }
  }

  .section__subtitle { 
    margin: 0px;   
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .section__text { 
    margin: 1.0rem 0px 0px 0px;
    padding: 0 0 0 0.5rem; 
    line-height: 2.7rem;
    font-size: 2.2rem;
    font-weight: normal;
    color: #000000;
  }

  @keyframes header-appear {
    0%   {opacity: 0;}
    35%  {opacity: 0;}

    100% {opacity: 1;}
  }
.footer {
    box-sizing: border-box; 
    background-color: rgba(89,212,171, 0.7);
    font-family: 'Be Vietnam', sans-serif;
    color: #fff;
    box-sizing: border-box; 
    width: 100%;
  }

.footer__content {
    box-sizing: border-box; 
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    padding: 0px 4rem 2rem 4rem;
}

.footer__title {
  text-align: center;
  margin: 0;
  padding: 2rem 0px 2rem;
  font-weight: 400;
  font-size: 2.2rem;
}

.footer__list {
  max-width: 30rem;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.footer__link {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  opacity: 0.8;
}

.social-icon {
  width: 4.5rem;
  margin-right: 1.0rem;
}
.popup {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    font-family: 'Be Vietnam', sans-serif;
    z-index: 2;
}

#btn-close {
    padding: 15px;
    position: absolute;
    top: 1.0rem;
    right: 1.0rem;
    width: 3.5rem;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
}

#btn-close:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.diploma-img {
    max-height: 80vh;
    max-width: 95vw;
}
  
.hide {
    display: none;
}

/* Slideshow container */
.slideshow-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  box-sizing: border-box;  
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}

/* Position the "next button" to the right */
.prev {
    left: 0;
  }

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slide-text {

  padding-bottom: 3.0rem;  
  text-align: center;

  margin: 0px 0px;
  line-height: 2.7rem;
  font-size: 2.2rem;
  font-weight: normal;
  color: #fff;

}


/* Number text (1/3 etc) */
.numbertext {
  position: absolute;
  top: 0;
  color: #fff;
  line-height: 2.0rem;
  font-size: 1.8rem;
  padding-top: 3.0rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}
*/
html { 
  font-size: 62.5%;
  background-color:  #F7F6F3; 
  overflow-x:hidden;
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 40%;
  }
}

.page {
  box-sizing: border-box; 
  padding: 0px 4rem 2rem;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  font-family: 'Be Vietnam', sans-serif;
  background-color:  #F7F6F3;
}



/* кнопки и ссылки */

.button {
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
  min-height:  8.0rem;
  max-width: 200px;
  line-height: 2.2rem;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;

  min-height: 8.0rem;

}

.button:hover {
  box-shadow: 0px 0px 10px 1px rgb(13, 151, 105);
  transition: all 0.4s ease 0s;
}

.section__text_btn {
  line-height: 20px;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
  height: 40px;
  text-align: center;
}


.link {
  box-sizing: border-box;
  width: 100%;

  color: white;
  background-color: rgba(256,256,256,0.4);
  padding: 5px;
  border-radius: 10px;
  text-decoration:none;
  display: flex;
  align-items: center;
}

.button_clinic {
  background-color: #b982f5;
}

.button_wh {
  background-color: rgb(59, 197, 151);
}








/*# sourceMappingURL=/style.251b6741.css.map */