.header {
    padding: 3rem 0px 1.5rem 0px;
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
  

.header__container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    animation-name: header-appear;
    animation-duration: 2.0s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-timing-function: ease-in-out;
}
  
.header__title {
    margin: 0px;   
    line-height: 5rem;
    font-size: 3.7rem;
    font-weight: bold;
    color: #000000;
}
  
.header__list {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
  
.header__subtitle {
    margin: 0px;
    padding: 0px; 
    line-height: 3.5rem;
    font-size: 3.0rem;
    font-weight: normal;
    color: #000000;
}
  
.avatar__container {
    margin: 0;
    width: 18rem;
    max-width: 200px;
    overflow: hidden;
    position: relative;
    right: 0px;
    box-shadow: 0px 0px 10px 2px rgba(89,212,171,1);
    border-radius: 50%;

    animation-name: avatar-move;
    animation-duration: 2.0s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-timing-function: ease-in-out;
}
  
.avatar__container:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
  
.avatar__img { 
    width: 100%;
    position:absolute;
    top: -20px;
}

@keyframes avatar-move {
    0%   {transform: scale(0, 0); right:calc(100% - 19rem);}
    25%  {transform: scale(1, 1); right:calc(100% - 19rem);}

    100% {}
  }

@keyframes header-appear {
    0%   {opacity: 0;}
    35%  {opacity: 0;}

    100% {opacity: 1;}
  }

.section_name {
    align-items: stretch;
    margin: 0px 0px;
}


.section__title_place_name {
    margin: 0 auto;
    width: 100%;

    line-height: 5.0rem;
    font-size: 2.8rem;
    font-weight: 500;
    padding-bottom: 0.8rem;

    border-radius: 2.0rem;
    background-color: #e6e5e3;
    text-align: center;
  }

  @media (max-width: 350px) {
    .section__title_place_name {
      font-size: 2.6rem;
    }
  }
.education__list { 
    margin: 0px;
    padding: 3px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    list-style-position: outside;
    padding: 0 0 0 0.5rem;
  }
  
  .education__item {
    position: relative;
    box-sizing: border-box;
    margin: 1.0rem 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  
  .starpoint::after {
    position: absolute;
    left: -3.2rem;
    content: '⭐';
    line-height: 3rem;
    font-size: 1.5rem;

    animation-name: star-shine;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  .education__text_main {
    display: inline;
    margin: 0px;
    padding: 0px; 
    line-height: 3rem;
    font-size: 2.2rem;
    color: #000000;
    font-weight: bold;
  }
  
  .education__text {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 2.7rem;
    font-size: 2.2rem;
    font-weight: normal;
    color: #000000;
    font-style: normal;
  }

  /* The animation code */
@keyframes star-shine {
  from {transform: scale(1, 1);}
  to {transform: scale(1.2, 1.2);}
}


.section__title_place_services {
    text-align: center;
    margin-bottom: 0.8em;
  }
  
  .services__container {
    margin-top: 14px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .services__text {
    padding: 0px 0px 1px 0px;
    margin: 0px;   
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: normal;
    color: #000000;
    text-align: center;
  }
  
  .services__card {
    min-height: 230px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(89,212,171,0.35);

    width: calc((100% / 4) - (3 * 0.8rem / 4));
    margin-right: 0.8rem;
    margin-bottom: 10px;

    padding: 0 5px;
  }

  .services__card:nth-child(4n) {
    margin-right: 0;
  }

  @media (max-width: 700px) {
    .services__card {
      width: calc((100% / 3) - (2 * 0.8rem / 3));
      margin-right: 0.8rem;
    }

    .services__card:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (max-width: 600px) {
    .services__text {  
      line-height: 2.2rem;
      font-size: 1.6rem;
    }
  }

  @media (max-width: 500px) {
    .services__card {
      width: calc((100% / 2) - (1 * 0.8rem / 2));
      margin-right: 0.8rem;
    }

    .services__card:nth-child(3n) {
      margin-right: 0.8rem;
    }
    
    .services__card:nth-child(2n) {
      margin-right: 0;
    }

    .services__text {  
      line-height: 2.2rem;
      font-size: 1.8rem;
    }
  }
  
  .services__img {
    width: 60%;
    padding: 10px 0px 2px 0px;

    animation-name: card-accent;
    animation-duration: 4.0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  .services__card:nth-child(2) .services__img {
    animation-delay: 0.25s;
  }

  .services__card:nth-child(3) .services__img {
    animation-delay: 0.50s;
  }

  .services__card:nth-child(4) .services__img {
    animation-delay: 0.75s;
  }
  
  .services__title {
    margin: 0px;  
    line-height: 2.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  
  .services__textcontainer {
    background-color: rgba(256,256,256,0.5);
    padding: 0.5rem 0.2rem;
    border-radius: 15px;
    margin: 5px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @keyframes card-accent {
    0%   {transform: scale(1.05, 1.05);}
    5%  {transform: scale(1, 1);}
  }

  



.section__title_place_reserve {
    width: 100%;
    text-align: center;
  }
  
  .reserve__container{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  


  .button__container {
    width: 45%;
  }
  

  

  
  .section__title_place_diplomas {
    text-align: center;
    align-self: center;
  }
  
  
  .section__text_btn_diploma {
    width: 45%;
    line-height: 16px;
    font-size: 16px;
    margin: 0px;
    text-align: start;
    text-align: center;
  }
  
  .diplomas__container{
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    align-self: center;
  
  }
  
  .button_diplom {
    width: 45%;
    align-self: center;
    text-align: center;
    cursor: pointer;
    background-color: #e6e5e3;
    font-weight: bolder;
    text-align: center;
  }

  .certificate {
    width: 30%;
    padding: 0px 30px;
  }
.section {
    box-sizing: border-box;
    margin: 0;
    padding: 3rem 0px 0px 0px;
    width: 100%;
    background-color: #F7F6F3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    animation-name: header-appear;
    animation-duration: 2.0s;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-timing-function: ease-in-out;
  }
  

  .section_services {
    align-items: stretch;
  }
  
  .section__title {
    box-sizing: border-box; 
    margin: 0px;   
    line-height: 2.2rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    border-radius: 2.0rem;
    background-color: #e6e5e3;
    padding: 1.1rem 1.5rem 1.3rem 1rem;
    margin: 0px 0px 0.5rem 0px;
  }

  .section__subtitle { 
    margin: 0px;   
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .section__text { 
    margin: 1.0rem 0px 0px 0px;
    padding: 0 0 0 0.5rem; 
    line-height: 2.7rem;
    font-size: 2.2rem;
    font-weight: normal;
    color: #000000;
  }

  @keyframes header-appear {
    0%   {opacity: 0;}
    35%  {opacity: 0;}

    100% {opacity: 1;}
  }
.footer {
    width: 100%;
    min-height: 100px;
    height: 100%;
    background-color: rgba(89,212,171, 0.7);
  
    box-sizing: border-box; 
    padding: 0px 25px 0px 35px;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    font-family: 'Be Vietnam', sans-serif;
  }
.popup {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
.diploma {
    height: 30%;
}
  
.hide {
    display: none;
}

html { 
  font-size: 62.5%;
  background-color:  #F7F6F3; 
  overflow-x:hidden;
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 40%;
  }
}

.page {
  box-sizing: border-box; 
  padding: 0px 4rem 4rem;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  font-family: 'Be Vietnam', sans-serif;
  background-color:  #F7F6F3;
}



/* кнопки и ссылки */

.button {
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
  width: 45%;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
  min-height:  35px;
}

.button:hover {
  box-shadow: 0px 0px 10px 1px rgb(13, 151, 105);
  transition: all 0.4s ease 0s;
}

.section__text_btn {
  line-height: 20px;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
  height: 40px;
  text-align: center;
}


.link {
  box-sizing: border-box;
  width: 100%;
  line-height: 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgba(256,256,256,0.4);
  padding: 5px;
  border-radius: 10px;
  text-decoration:none;
  display: flex;
  align-items: center;
}

.button_clinic {
  background-color: #b982f5;
}

.button_wh {
  background-color: rgb(59, 197, 151);
}








/*# sourceMappingURL=/style.251b6741.css.map */