
  
  .section__title_place_diplomas {
    text-align: center;
    align-self: center;
    min-width: 60%;
  }
  
  
  .section__text_diploma {
    width: 75%;
    margin: 0;
    line-height: 2.5rem;
    font-size: 2.0rem;
    text-align: left;
    margin: auto 0px;
    align-self: center;
    color: black;
  }
  
  .diplomas__container{
    margin: 2.5rem 0;
  }
  
  .diplom-slider {
    position: relative;
    align-self: center;
    width: calc(100% + 4rem + 4rem);
    height: calc(10.0rem);
    background-image: url(../../../images/certificate.svg);
    background-position: center;
    background-size: 10rem;
    background-position-x: 0%;
    background-repeat: repeat-x;

    animation-name: diploma;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
  }

  .diplom-slider::before {
    content: '';
    z-index: 1;
    height: 100%;
    width:100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(247,246,243,1) 0%, rgba(247,246,243,0) 20%, rgba(247,246,243,0) 50%, rgba(247,246,243,0) 80%, rgba(247,246,243,1) 100%);
  }

  .diplom__btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b982f5;
  }

  .click {
    margin-left: 0.5rem;
    line-height: 2.0rem;
    font-size: 3.0rem;
  }

  @keyframes diploma {
    0%  {background-position-x: 0;}
    50%  {background-position-x: -20rem; }
    100%  {background-position-x: -20rem; }
  }

  @keyframes text-click {
    0%  {background-position-x: 0%; opacity: 0;}
    15%  { opacity: 1;}
    65%  { opacity: 1;}
    70%  {background-position-x: 30%; opacity: 0;}
    100%  {background-position-x: 0%; opacity: 0;}
  }