.section__title_place_name {
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 5px;
    border-radius: 5px;
  
    background-color: #e6e5e3;
    text-align: center;
    border: solid 2px black;
  }