@import "./_name/section_name.css";
@import "./_education/section_education.css";
@import "./_services/section_services.css";
@import "./_reserve/section_reserve.css";
@import "./_diploma/section_diploma.css";



.section {
    padding: 3rem 0px 0px 0px;
    width: 100%;
    background-color: #F7F6F3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  

  .section_services {
    align-items: stretch;
  }
  
  .section__title {
    box-sizing: border-box; 
    margin: 0px;   
    line-height: 2.2rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    border-radius: 2.0rem;
    background-color: #e6e5e3;
    padding: 1.1rem 1.5rem 1.3rem 1rem;
    margin: 0px 0px 0.5rem 0px;
  }

  .section__subtitle { 
    margin: 0px;   
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .section__text { 
    margin: 1.0rem 0px 0px 0px;
    padding: 0 0 0 0.5rem; 
    line-height: 2.7rem;
    font-size: 2.2rem;
    font-weight: normal;
    color: #000000;
  }